#fr
{
    background-color: black;
    color: white;
    padding-top: 5px;
text-align: left;
font-size: 12px;
font-family:'Times New Roman';


}

#jum
{

    background-image: url("k.png");
    font-family: 'Times New Roman';
    font-style: bold;
    color:white;
    text-align: center;
    font-size: 30px;
    margin-left: -15px;
    margin-right: -15px;
   

}
a{

    color: aliceblue;
}

#ict
{

    font-style:bold;
    font-size: 14px;
}

#tt
{

    font-size: 25px;
    font-style:bold;
    color:black;
    font-family: 'Times New Roman';
}
#nv
{
color: white;
font-family: 'Times New Roman';

}

#cor
{
    font-size: 25px;
    font-family: 'Times New Roman';
    font-style: bold;
    text-align: center;
}

.responsive
{
    width: 100%;
    height: auto;
}




#search
{

    text-align: right;
}

#about_row
{

    margin-left: 1px;
    margin-right: 1px;
    color: black;
    font-family: 'Times New Roman';

}

#car2
{

    font-family: 'Times New Roman';
    text-align: left;
    height: 170px;

}

#lar
{

    color: white;
    background-color:#232C2B;
    font-family: 'Times New Roman';
    font-size: 13px;
   
}

#tb1
{

    margin-right: 2px;
    font-size: 10px;
    text-align: center;
   
}

#regt
{

    margin-left: 2px;
    font-family: 'Times New Roman';
   
    
}
#t
{
    font-family: 'Gill Sans';
    font-size: 25px;
    text-align: center;
    font-style: bold;
}

#tb4
{

    text-align: center;
    
}
#bb{
text-align: center;
align-content: right;
}

#abtbd
{

    background-image: url("50.jpg");

}

#servbd
{
    background-image: url("51.jpg");
}

#indxbd
{
    background-image: url("55.jpg");

}

#tttt
{
    font-family: 'Gill Sans';
    font-size: 15px;
    text-align: center;
    font-style: bold;
}
#cardr
{
font-style: oblique;
font-family: Impact;
font-size: 6cm;
}
#foc
{
    font-style: bold;
    font-family: 'Times New Roman';
   
}